concurrent = {{ runner.concurrent | int }}
check_interval = 3
shutdown_timeout = 30

[[runners]]
  name = {{ runner.name | to_json }}
  url = {{ gitlab.url | to_json }}
{% if runner_existing_id | length > 0 %}
  id = {{ runner_existing_id }}
{% endif %}
  token = {{ runner_existing_token | to_json }}
{% if runner_existing_token_obtained_at | length > 0 %}
  token_obtained_at = {{ runner_existing_token_obtained_at }}
{% endif %}
{% if runner_existing_token_expires_at | length > 0 %}
  token_expires_at = {{ runner_existing_token_expires_at }}
{% endif %}
{% if tls.private_ca_enabled | bool %}
  tls-ca-file = {{ ('/etc/gitlab-runner/certs/' ~ gitlab.hostname ~ '.crt') | to_json }}
{% endif %}
  executor = "docker"
  environment = ["FF_NETWORK_PER_BUILD=1"]

  [runners.docker]
    host = "unix:///run/podman/podman.sock"
    image = {{ runner.default_job_image | to_json }}
    privileged = false
    cpus = {{ runner.cpus | to_json }}
    memory = {{ runner.memory | to_json }}
    shm_size = {{ runner.shm_size_bytes | int }}
    pull_policy = {{ runner.pull_policy | to_json }}
    volumes = ["/cache"]
    allowed_images = {{ runner.allowed_images | to_json }}
    allowed_services = {{ runner.allowed_services | to_json }}
{% if network.vpn_dns | length > 0 %}
    dns = [{{ network.vpn_dns | to_json }}]
{% endif %}
